p,a,td {
	text-align: center;
}

h1 {
	background-color: #565;
}

table {
	border: 1px groove;
	margin: 10px auto;
	width: 100%;
}

.wrapper {
	background: white;
	margin: auto;
	padding: 1em;
	width: 65%;
}

h1 {
	text-align: center;
}

ul.tabs {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.tabs li {
	border: gray solid 1px;
	border-bottom: none;
	float: left;
	margin: 0 .25em 0 0;
	padding: .25em .5em;
}

ul.tabs li a {
	color: gray;
	font-weight: bold;
	text-decoration: none;
}

ul.tabs li.active {
	background: gray;
}

ul.tabs li.active a {
	color: white;
}

.clr {
	clear: both;
	border-top: gray solid 1px;
}

article {
	border-top: gray solid 1px;
	padding: 0 1em;
}

.enemyimg {
	width: 64px;
	height: 64px;
}

.inputnumber {
	width: 50px;
}

#addquest,#addenemy,#addpj,#moduser,#modpjquest {
	clear: both;
	display: none;
}